tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    color: #333;
    display: table-row;
    outline: medium none;
    vertical-align: middle;
}
td {
    padding: 10px;
}